a{
    text-decoration: none;
    color:#ffffff;
}
.menu-bar{
    background-color: #777;
    overflow: auto;
}
.menu-bar a{
    padding:12px;
    display:inline-block;
    font-size:18px;
    float:left;
}
.menu-bar a:hover{
    background-color: #000;
}
.menu-bar a.active{
    background-color: #DAD8EC;
}