<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>과끼리 관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/admin_login_page.css}">
  <script>
    function loginHandler() {
        const email = document.querySelector("#user_email").value;
        const password = document.querySelector("#user_password").value;

        console.log(email, password);
    }
  </script>
</head>
<body>
  <div class="login-wrapper">
    <h2>Login</h2>
    <form id="login-form">
      <input id="user_email" type="email" placeholder="이메일을 입력해주세요">
      <input id="user_password" type="password"placeholder="패스워드를 입력해주세요">
      <input type="button" value="Login" onclick="loginHandler()">
    </form>
  </div>
</body>
</html>