<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과끼리 관리자 페이지</title>
    <link rel="stylesheet" href="/admin_index_page.css">
</head>
<body>
<div class="menu-bar">
    <a href="#" class="active" onclick="setActiveMenu(this, '/admin/board')"><i class="board"></i>게시판</a>
    <a href="#" onclick="setActiveMenu(this, '/admin_comment_page.html')"><i class="comment"></i>댓글</a>
    <a href="#" onclick="setActiveMenu(this, '/admin_user_page.html')"><i class="user"></i>유저</a>
    <a href="#" onclick="setActiveMenu(this, '/admin_statistics_page.html')"><i class="statistics"></i>통계</a>
</div>

<div id="content"></div>

<script>
    async function setActiveMenu(menuItem, contentUrl) {
        const menuItems = document.querySelectorAll('.menu-bar a');
        menuItems.forEach(function(item) {
            item.classList.remove('active');
        });

        menuItem.classList.add('active');

        const contentDiv = document.getElementById('content');
        const response = await fetch(contentUrl);
        const content = await response.text();
        contentDiv.innerHTML = content;
    }
</script>
</body>
</html>
