<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/admin_index_page.css}">
  <title>관리자 대시보드</title>
</head>
<body>
<header>
  <h1>관리자 대시보드에 오신 것을 환영합니다</h1>
</header>
<div class="container">
  <section class="left-section">
    <h2>게시판 신고 목록</h2>
    <button>
      <a href="?sortType=mostReportedRanking">신고 횟수순</a>
    </button>
    <button>
      <a href="/admin/">시간순</a>
    </button>
    <table>
      <thead>
      <tr>
        <th>
          게시판 ID
        </th>
        <th>
          유저 ID
        </th>
        <th>
          제목
        </th>
        <th>
          내용
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="report : ${boardReport}">
        <td th:text="${report.boardId}">
        </td>
        <td th:text="${report.boardUserId}">
        </td>
        <td th:text="${report.boardTitle}">
        </td>
        <td th:text="${report.boardBody}">
        </td>
        <td>
          <button th:data-board-id="${report.boardId}" class="info-button-board">자세히보기</button>
          <button th:data-board-id="${report.boardId}" class="sanction-button-board">제재</button>
        </td>
      </tr>
      </tbody>
    </table>

    <section class="comment-section">
      <h2>댓글 신고 목록</h2>
      <table>
        <thead>
        <tr>
          <th>
            댓글 ID
          </th>
          <th>
            유저 ID
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${commentReport}">
          <td th:text="${report.commentId}">
          </td>
          <td th:text="${report.commentUserId}">
          </td>
          <td th:text="${report.commentBody}">
          </td>
          <td>
            <button th:data-comment-id="${report.commentId}" class="info-button-comment">자세히보기</button>
            <button th:data-comment-id="${report.commentId}" class="sanction-button-comment">제재</button>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </section>
  <section class="right-section">
    <h2>유저 정지</h2>
    <form id="user-sanction-form">
      <div class="input-row">
        <label for="userId"><span>* </span>유저 ID</label>
        <input type="text" id="userId" name="userId" required>
      </div>
      <div class="width-style">
        <div class="input-row-time">
        <label for="sanctionDays"><span>* </span>일</label>
        <input type="text" id="sanctionDays" name="sanctionDays" placeholder="일" required>
        </div>
        <div class="input-row-time">
          <label for="sanctionHours"><span>* </span>시간</label>
          <input type="text" id="sanctionHours" name="sanctionHours" placeholder="시간" required>
        </div>
        <div class="input-row-time">
          <label for="sanctionMinutes"><span>* </span>분</label>
          <input type="text" id="sanctionMinutes" name="sanctionMinutes" placeholder="분" required>
        </div>
      </div>
      <div class="input-row">
        <label for="sanctionReason"><span>* </span>제재 이유</label>
        <textarea id="sanctionReason" name="sanctionReason" rows="4" required></textarea>
      </div>
      <br>
      <button type="submit" class="user-sanction-button">유저 정지</button>
    </form>
    <h2>정지 리스트</h2>
    <table>
      <thead>
      <tr>
        <th>
          유저 ID
        </th>
        <th>
          유저 닉네임
        </th>
        <th>
          유저 이메일
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="sanction : ${userSanction}">
        <td th:text="${sanction.userId}">
        </td>
        <td th:text="${sanction.userNickname}">
        </td>
        <td th:text="${sanction.userEmail}">
        </td>
        <td>
            <button th:data-user-id="${sanction.userId}" class="info-button-sanction">자세히보기</button>
            <button th:data-user-id="${sanction.userId}" class="unSanction-button">정지 해제</button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
<footer>
  <p>
    &copy; 2023 관리자 대시보드
  </p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/admin_index_page.js}"></script>
</body>
</html>