<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>과끼리 관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/admin_login_page.css}">
  <script th:src="@{/passwordEncoderSHA512.js}"></script>

</head>
<body>
  <div class="login-wrapper">
    <h2>Login</h2>
    <form id="login-form" onsubmit="loginHandler(); return false;">
      <input id="user_email" type="email" placeholder="이메일을 입력해주세요">
      <input id="user_password" type="password"placeholder="패스워드를 입력해주세요">
      <input type="submit" value="Login">
    </form>
  </div>
  <script>
      function setCookie(name,value,days) {
          var expires = "";
          if (days) {
              var date = new Date();
              date.setTime(date.getTime() + (days*24*60*60*1000));
              expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
      }

      function loginHandler() {
          const email = document.querySelector("#user_email").value;
          const password = document.querySelector("#user_password").value;

          if(email == "" || password == "") alert("이메일 또는 패스워드를 올바르게 입력해주세요");

          fetch("https://dev.api.tovelop.esm.kr/user/login", {
              method: "POST",
              headers: {
                  "Content-type": "application/json"
              },
              body: JSON.stringify({
                  email,
                  password
              })
          })
              .then(res => res.json())
              .then(res => {
                  if(res["success"] == false) {
                      alert(res["message"]);
                      return;
                  }

                  const pubKey = res["pubKey"];
                  const privKey = res["privKey"];

                  setCookie("auth", pubKey);
                  setCookie("sign", privKey);

                  location.href = "/admin/";
              });
      }
  </script>
</body>
</html>