<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.BoardMapper">
    <insert id="createPost">
        INSERT INTO board(parent_id, category_id, user_id, type_id, title, body, state, is_hide, is_complete, is_anonymous, created_at, modified_at, comment_cnt, like_cnt, report_cnt, images_url)
        VALUES(#{parentId}, #{categoryId}, #{userId}, #{typeId}, #{title}, #{body}, #{state}, #{isHide}, #{isComplete}, #{isAnonymous}, NOW(), NOW(), #{commentCnt}, #{likeCnt}, #{reportCnt}, #{imagesUrl})
    </insert>
    <select id="getIsHideByPostId" resultType="java.lang.Integer">
        select is_hide
        from board
        where id = #{postId}
    </select>
    <select id="getUserIdByPostId" resultType="java.lang.Integer">
        select user_id
        from board
        where id = #{postId}
    </select>
    <select id="readPost" resultType="BoardDTO">
        select *
        from board
        where id = #{postId}
    </select>
    <update id="updatePost">
        update board
        set title = #{title}, body=#{body}, is_hide=#{isHide}, modified_at=NOW()
        where id = #{postId}
    </update>
    <delete id="deletePost">
        update board
        set state = 1
        where id = #{postId}
    </delete>
    <select id="isModified" resultType="BoardTimeDTO">
        select created_at, modified_at
        from board
        where id = #{postId}
    </select>
    <insert id="insertUserLike">
        insert into board_like(board_id, user_id) values (#{postId}, #{UserId})
    </insert>

    <delete id="deleteUserLike">
        delete from board_like
        where board_id = #{postId} and user_id = #{userId}
    </delete>
    <insert id="insertUserReport">
        insert into board_report(board_id, user_id, report_id) values (#{postId}, #{UserId}, #{reportId})
    </insert>
    <select id="searchPost" resultType="BoardDTO">
        select *
        from board
        where title like '%#{keyWord}%' or body like '%#{keyWord}%'
    </select>
</mapper>
