<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.BookmarkMapper">
    <insert id="insertBoard">
        INSERT INTO user_bookmark(user_id, board_id)
        VALUES (#{userId}, #{boardId})
    </insert>

    <select id="selectBoardAllById" resultType="BookmarkDTO">
        SELECT board.id, board.title, board.type_id
        FROM user_bookmark as ub
                 JOIN board on board.id = ub.board_id
        WHERE ub.user_id = #{userId}
          and board.state = 0
        ORDER BY board.id DESC
            LIMIT #{params.recordSize}
        OFFSET #{params.offset}
    </select>

    <select id="getBoardCount">
        SELECT COUNT(*)
        FROM user_bookmark as ub
        WHERE ub.user_id = #{userId}
    </select>

    <delete id="deleteBoardById">
        DELETE
        FROM user_bookmark as ub
        WHERE ub.user_id = #{userId}
          and ub.board_id = #{boardId}
    </delete>

    <select id="isBookmarked">
        SELECT *
        FROM user_bookmark ub
        WHERE ub.user_id = #{userId}
          and ub.board_id = #{boardId}
    </select>
</mapper>