<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.CommentMapper">
    <select id="findAllComment" resultType="commentDTO">
        SELECT comment.id,
               comment.user_id,
               board.id,
               comment.body,
               comment.is_anonymous,
               comment.created_at,
               comment.like_cnt
        FROM comment
                 JOIN board ON board.id = comment.board_id
        WHERE board_id = #{board_id}
    </select>
    <insert id="insertComment">
        INSERT INTO comment(board_id, user_id, body, created_at, is_anonymous)
        VALUES (#{board_id}, #{user_id}, #{body}, NOW(), #{is_anonymous})
    </insert>
    <delete id="deleteComment">
        DELETE
        FROM comment
        WHERE id = #{commentId}
    </delete>
    <update id="updateComment">
        UPDATE comment
        SET body = #{body}
        WHERE id = #{id}
    </update>
    <select id="getCommentById">
        SELECT *
        FROM comment
        WHERE id = #{id}
    </select>
    <insert id="insertCommentLike">
        INSERT INTO comment_like(comment_id, user_id)
        VALUES (#{commentId}, #{userId})
    </insert>
    <select id="findCommentLike">
        SELECT *
        FROM comment_like
        WHERE comment_like.comment_id = #{commentId}
    </select>
    <select id="cntCommentLike" resultType="Int">
        SELECT COUNT(*)
        FROM comment_like
        WHERE comment_like.comment_id = #{commentId}
    </select>
    <delete id="deleteCommentLike">
        DELETE
        FROM comment_like
        WHERE comment_id = #{commentId}
          AND user_id = #{userId}
    </delete>
    <insert id="insertCommentReport">
        INSERT INTO comment_report(comment_id, user_id, report_id)
        VALUES (#{commentId}, #{userId}, #{reportId})
    </insert>
    <select id="findCommentReport">
        SELECT *
        FROM comment_report
        WHERE comment_report.comment_id = #{commentId}
    </select>

</mapper>