<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.PollMapper">
    <insert id="insertPoll" useGeneratedKeys="true" keyProperty="id" parameterType="com.tovelop.maphant.dto.PollDTO">
        INSERT INTO poll(id, board_id, title, expire_date, state)
        VALUES (#{id}, #{boardId}, #{title}, #{expireDateTime}, #{state});
    </insert>
    <insert id="insertPollOption">
        INSERT INTO poll_option(id, poll_id, option_name, option_cnt)
        VALUES (null, #{pollId}, #{option}, 0);
    </insert>

    <insert id="insertPollUser">
        INSERT INTO poll_user(user_id, poll_id, poll_option, created_at)
        VALUES (#{userId}, #{pollId}, #{pollOption}, now());
    </insert>

    <update id="updatePollUser">
        UPDATE poll_user
        SET poll_option = #{pollOption}
        WHERE user_id = #{userId}
          and poll_id = #{pollId};
    </update>

    <select id="prevOptionId" resultType="int">
        SELECT poll_option
        FROM poll_user
        WHERE user_id = #{userId}
          and poll_id = #{pollId};
    </select>

    <update id="decreaseCount">
        UPDATE poll_option
        SET option_cnt = option_cnt - 1
        WHERE id = #{optionId}
          and poll_id = #{pollId};
    </update>

    <update id="updateCount">
        UPDATE poll_option
        SET option_cnt = option_cnt + 1
        WHERE id = #{optionId}
          and poll_id = #{pollId};
    </update>

    <select id="getPollIdByBoardId" resultType="int">
        SELECT poll.id
        FROM poll,
             board
        WHERE board_id = board.id
    </select>

    <resultMap id="pollOptionResultMap" type="com.tovelop.maphant.dto.PollOption">

    </resultMap>


    <resultMap id="pollInfoResultMap" type="com.tovelop.maphant.dto.PollInfoDTO">
        <result property="title" column="title"/>
        <result property="expireDate" column="expire_date"/>
        <result property="state" column="state"/>
        <result property="selectedOptionId" column="poll_option"/>
        <collection property="pollOptions" ofType="com.tovelop.maphant.dto.PollOption">
            <id property="optionId" column="id"/>
            <result property="optionName" column="option_name"/>
            <result property="optionCount" column="option_cnt"/>
        </collection>
    </resultMap>

    <select id="selectPollInfoById" resultMap="pollInfoResultMap">
        SELECT poll.title       as title,
               poll.expire_date as expire_date,
               poll.state       as state,
               pu.poll_option   as poll_option,
               po.id            as id,
               po.option_name   as option_name,
               po.option_cnt    as option_cnt
        FROM poll
                 JOIN poll_option po on poll.id = po.poll_id
                 JOIN poll_user pu on pu.poll_id = poll.id
        WHERE poll.id = #{pollId}
          and pu.user_id = #{userId}
          and poll.state != 2
    </select>

    <resultMap id="pollInfoByBoardIdResultMap" type="com.tovelop.maphant.dto.PollInfoDTO">
        <result property="title" column="title"/>
        <result property="expireDate" column="expire_date"/>
        <result property="state" column="state"/>
        <result property="selectedOptionId" column="poll_option"/>
        <collection property="pollOptions" ofType="com.tovelop.maphant.dto.PollOption">
            <id property="optionId" column="id"/>
            <result property="optionName" column="option_name"/>
            <result property="optionCount" column="option_cnt"/>
        </collection>
    </resultMap>

    <select id="selectPollInfoByBoardId" resultMap="pollInfoByBoardIdResultMap">
        SELECT poll.title       as title,
               poll.expire_date as expire_date,
               poll.state       as state,
               pu.poll_option   as poll_option,
               po.id            as id,
               po.option_name   as option_name,
               po.option_cnt    as option_cnt
        FROM poll
                 JOIN poll_option po on poll.id = po.poll_id
                 JOIN poll_user pu on pu.poll_id = poll.id
        WHERE poll.board_id = #{boardId}
          and pu.user_id = #{userId}
          and poll.state != 2
    </select>

    <select id="isPollOption" resultType="int">
        select *
        from poll_option
        where poll_id = #{pollId}
          and id = #{pollOptionId};
    </select>

    <select id="isExistencePollByBoardId" resultType="int">
        select *
        from poll
        where board_id = #{boardId}
          and (state = 0 or state = 1);
    </select>

    <update id="deletePollByBoardId">
        update poll set state = 2 where board_id = #{boardId} and (state = 0 or state = 1);
    </update>

    <update id="deletePollByPollId">
        update poll set state = 2 where id = #{pollId} and (state = 0 or state = 1);
    </update>

    <update id="closePollByBoardId">
        update poll set state = 1 where board_id = #{boardId} and state = 0;
    </update>

    <update id="closePollByPollId">
        update poll set state = 1 where id = #{boardId} and state = 0;
    </update>

    <select id="isPollUser" resultType="int">
        select *
        from poll, board
        where board_id = board.id and
              poll.id = #{pollId} and user_id = #{userId};
    </select>
</mapper>