<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.ProfileMapper">
    <select id="findImageById" resultType="ProfileImageDto">
        SELECT user.name as user_name,
               profile_img
        FROM profile INNER JOIN user
            ON profile.user_id = user.id
        WHERE userId = #{user_id}
    </select>

    <select id="findAllPostsById" resultType="BoardDto">
        SELECT categoryId,
               userId,
               postId,
               type,
               title,
               body,
               state,
               isAnonymous,
               createAt,
               modifiedAt
        FROM board
        WHERE userInt = #{userId}
    </select>
    
    <update id="updateProfileImage">
        UPDATE profile
        SET imageUrl = #{profile_img}
        WHERE userId = #{id}
    </update>

</mapper>