<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.RoomMapper">

    <select id="findRoom" resultType="RoomDto">
        SELECT *
        FROM room
        WHERE sender_id = #{sender_id}
          AND receiver_id = #{receiver_id}
    </select>

    <insert id="createRoom" parameterType="CreateRoomDto">
        INSERT INTO room (last_content, time, sender_id, receiver_id, sender_is_deleted, receiver_is_deleted)
        VALUES (#{last_content},
                #{time},
                #{sender_id},
                #{receiver_id},
                #{sender_is_deleted},
                #{receiver_is_deleted})
    </insert>

    <update id="updateSenderUnreadCountAndLastContent">
        UPDATE room
        SET last_content = #{content}, receiver_unread_count = receiver_unread_count+1
        WHERE id = #{room_id}
    </update>

    <update id="updateReceiverUnreadCountAndLastContent">
        UPDATE room
        SET last_content = #{content}, sender_unread_count = sender_unread_count+1
        WHERE id = #{room_id}
    </update>

    <select id="findRoomById" resultType="RoomDto">
        SELECT *
        FROM room
        WHERE id = #{room_id}
    </select>

    <select id="findRoomList" resultType="RoomListResultDto">
        SELECT r1.id,
               r1.last_content,
               r1.sender_id,
               r1.receiver_id,
               r1.time,
               r1.sender_is_deleted,
               r1.receiver_is_deleted,
               u1.id       AS other_id,
               u1.nickname AS other_nickname,
               r1.sender_unread_count as unread_count
        FROM room r1
                 INNER JOIN user u1 ON r1.receiver_id = u1.id
        WHERE sender_id = #{user_id}
          AND sender_is_deleted = false
        UNION
        SELECT r1.id,
               r1.last_content,
               r1.sender_id,
               r1.receiver_id,
               r1.time,
               r1.sender_is_deleted,
               r1.receiver_is_deleted,
               u1.id       AS other_id,
               u1.nickname AS other_nickname,
               r1.receiver_unread_count as unread_count
        FROM room r1
                 INNER JOIN user u1
                            ON r1.sender_id = u1.id
        WHERE receiver_id = #{user_id}
          AND receiver_is_deleted = false
        ORDER BY time DESC
    </select>


    <update id="updateSenderIsDeletedAndSenderUnreadCountZero">
        UPDATE room
        SET sender_is_deleted = true,
            sender_unread_count = 0
        WHERE id = #{room_id}
    </update>

    <update id="updateReceiverIsDeletedAndReceiverUnreadCountZero">
        UPDATE room
        SET receiver_is_deleted = true,
            receiver_unread_count = 0
        WHERE id = #{room_id}
    </update>

    <update id="updateSenderIsDelete">
        UPDATE room
        SET sender_is_deleted = false
        WHERE id = #{room_id}
    </update>

    <update id="updateReceiverIsDeleted">
        UPDATE room
        SET receiver_is_deleted = false
        WHERE id = #{room_id}
    </update>

    <update id="updateRoomTime">
        UPDATE room
        SET time = #{time}
        WHERE id = #{room_id}
    </update>

    <update id="updateSenderDmCursor">
        UPDATE room
        SET sender_dm_cursor = (
            SELECT MAX(id) + 1
            FROM dm
            WHERE room_id = #{room_id}
        )
        WHERE id = #{room_id}
    </update>

    <update id="updateReceiverDmCursor">
        UPDATE room
        SET receiver_dm_cursor = (
            SELECT MAX(id) + 1
            FROM dm
            WHERE room_id = #{room_id}
            )
        WHERE id = #{room_id}
    </update>

    <select id="findUnReadDmCount">
        select SUM(
                       CASE
                           WHEN sender_id = #{user_id} THEN sender_unread_count
                           WHEN receiver_id = #{user_id} THEN receiver_unread_count
                           END
                   )
        FROM room
        WHERE sender_id = #{user_id} OR receiver_id = #{user_id}
    </select>

</mapper>