<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.SearchWordMapper">
    <select id="getWordCnt">
        select COUNT(word)
        from search_word
        where word = #{word}
    </select>

    <insert id="insertSearchWord" useGeneratedKeys="true" keyProperty="id">
        insert into search_word (word, df)
        values (#{word}, 1)
    </insert>

    <update id="plusDfCnt">
        update search_word
        set df = df + 1
        where word = #{word}
    </update>

    <select id="getIdByWord">
        select id
        from search_word
        where word = {#word}
    </select>

    <select id="getDfByWord">
        select df
        from search_word
        where word = #{word}
    </select>
</mapper>