<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.SearchWordMapper">
    <select id="getWordCnt">
        select COUNT(word)
        from search_word
        where word = #{word}
    </select>

    <insert id="insertSearchWord">
        insert into search_word (word, df)
        values (#{word}, 1)
        ON DUPLICATE KEY UPDATE df = df + 1
    </insert>

    <insert id="insertSearchWords">
        INSERT INTO search_word (word, df)
        VALUES
        <foreach collection="wordList" item="wordItem" separator=",">
            (#{wordItem}, 1)
        </foreach>
        ON DUPLICATE KEY UPDATE df = df + 1
    </insert>

    <update id="plusDfCnt">
        update search_word
        set df = df + 1
        where word = #{word}
    </update>

    <select id="getIdByWord">
        select id
        from search_word
        where word = #{word}
    </select>

    <select id="getDfByWord">
        select df
        from search_word
        where word = #{word}
    </select>

    <select id="findByWords" resultType="SearchWordDto">
        select id, word, df
        from search_word
        where word IN
        <foreach item="word" index="index" collection="wordList" open="(" separator="," close=")">
            #{word}
        </foreach>
    </select>

    <update id="updateDfByBoardId">
        UPDATE search_word_inverse swi
            INNER JOIN search_word sw
        ON swi.search_word_id = sw.id
            SET sw.df = sw.df + 1
        where swi.board_id = 534 AND sw.df > 0;
    </update>

</mapper>