<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO User (id,email, password, nickname, name, phoneInt, create_at, role, state, is_agree, last_modified_date, university_id)
        VALUES (#{id},#{email}, #{password}, #{nickname}, #{name}, #{phoneInt}, #{create_at}, #{role}, #{state}, #{is_agree}, #{last_modified_date}, #{university_id})
    </insert>
</mapper>
