<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.TagMapper">
    <insert id="insertTag">
        INSERT INTO tag (name, category_id, cnt)
        VALUES (#{tagName}, #{categoryId}, 1)
        ON DUPLICATE KEY UPDATE cnt = cnt + 1
    </insert>
    <delete id="deleteTag">
        DELETE FROM board_tag
        WHERE board_id = #{boardId} AND tag_id = #{tagId}
    </delete>
    <select id="getTagExistenceInBoard">
        SELECT COUNT(*)
        FROM board_tag
        WHERE board_id = #{boardId} AND tag_id = #{tagId}
    </select>
    <insert id="insertBoardTag">
        INSERT INTO board_tag (board_id, tag_id)
        VALUES (#{boardId}, #{tagId})
    </insert>
    <select id="getTagByName" resultType="TagDTO">
        SELECT *
        FROM tag
        WHERE name = #{name}
    </select>
    <select id="getTagList" resultType="TagDTO">
        SELECT *
        FROM tag
    </select>
    <select id="getTagListByBoardId" resultType="TagDTO">
        SELECT *
        FROM tag
        WHERE id IN (
                SELECT tag_id
                FROM board_tag
                WHERE board_id = #{board_id}
            )
    </select>
    <delete id="deleteTagCnt">
        UPDATE tag
        SET cnt = cnt - 1
        WHERE id = #{id}
    </delete>

    <select id="findBoardTags" resultType="ReqTagDTO">
        SELECT tag.id as id,
               tag.name as name
        FROM board_tag
        INNER JOIN tag ON board_id = #{board_id} AND tag_id = tag.id
    </select>
</mapper>
