<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.TagMapper">
    <select id="getTagList" resultType="TagDTO">
        SELECT *
        FROM tag
    </select>
    <insert id="insertTag">
        INSERT INTO tag (name, category_id, cnt)
        VALUES (#{name}, #{categoryId}, 1)
        ON DUPLICATE KEY UPDATE cnt = cnt + 1
    </insert>
    <select id="getTagByName" resultType="TagDTO">
        SELECT name, category_id, cnt
        FROM tag
        WHERE name = #{name}
    </select>
    <delete id="deleteTagCnt">
        UPDATE tag
        SET cnt = cnt - 1
        WHERE id = #{id}
    </delete>
</mapper>
