<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.UploadLogMapper">
    <select id="readUploadLog" resultType="UploadLogDTO">
        SELECT *
        FROM log_upload
    </select>
    <insert id="insertUploadLog">
        INSERT INTO log_upload (user_id, file_size, upload_date, url)
        VALUES (#{user_id}, #{file_size}, #{upload_date}, #{url})
    </insert>
    <select id="readUploadLogByUserId" resultType="UploadLogDTO">
        SELECT *
        FROM log_upload
        WHERE user_id = #{user_id}
    </select>
</mapper>