<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.UserMapper">
    <select id="countSameEmails" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE email = #{email};
    </select>
    <select id="countSameNickName" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE nickname = #{nickName};
    </select>
    <select id="countSamePhoneInt" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE phoneInt = #{phoneInt};
    </select>
    <select id="readUserByEmail" resultType="UserDTO">
        SELECT *
        FROM User
        WHERE email IN  <foreach item="email" collection="emails" open="(" separator="," close=")">
        #{email}
    </foreach> ;
    </select>
    <insert id="insertUser">
        INSERT INTO User (email, password, nickname, name, phoneInt, create_at, role, state, is_agree,
                          last_modified_date, university_id, sno)
        VALUES (#{email}, #{password}, #{nickname}, #{name}, #{phoneInt}, #{create_at}, #{role}, #{state}, #{is_agree},
                #{last_modified_date}, #{university_id}, #{sNo})
    </insert>
    <update id="updateUser" databaseId="id">
    </update>
    <select id="findEmailBy" resultType="String">
        SELECT email
        FROM User
        WHERE phoneInt = #{phoneInt}
          AND sno = #{sNo}
    </select>
    <select id="findUniversityIdBy" resultType="int">
        SELECT id
        FROM university
        WHERE name = #{universityName}
    </select>
    <select id="findUniversityUrlBy" resultType="String">
        SELECT link
        FROM university
        WHERE id = #{universityId}
    </select>
    <select id="isUniversityExist" resultType="Boolean">
        SELECT EXISTS(SELECT * FROM university WHERE id = #{universityId})
    </select>
    <update id="updateUserState">
        UPDATE User
        SET state = #{state}
        WHERE email = #{email}
    </update>
    <select id="findPasswordByEmail" resultType="String">
        SELECT password
        FROM User
        WHERE email = #{email}
    </select>
</mapper>