<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tovelop.maphant.mapper.UserMapper">
    <select id="countSameEmails" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE email= #{email};
    </select>
    <select id="countSameNickName" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE nickname= #{nickName};
    </select>
    <select id="countSamePhoneInt" resultType="Int">
        SELECT COUNT(*)
        FROM User
        WHERE phoneInt = #{phoneInt};
    </select>
    <select id="readUserByEmail"  resultType="UserDTO">
        SELECT *
        FROM User
        WHERE email IN  <foreach item="email" collection="emails" open="(" separator="," close=")">
        #{email}
    </foreach> ;
    </select>
    <insert id="insertUser">
        INSERT INTO User (id,email, password, nickname, name, phoneInt, create_at, role, state, is_agree, last_modified_date, university_id)
        VALUES (#{id},#{email}, #{password}, #{nickname}, #{name}, #{phoneInt}, #{create_at}, #{role}, #{state}, #{is_agree}, #{last_modified_date}, #{university_id})
    </insert>
    <update id="updateUser" databaseId="id" >
    </update>
    <select id="findEmailBy" resultType="String">
        SELECT email
        FROM User
        WHERE phoneInt=#{phoneInt}
        -- User에 학번 추가시 진행
    </select>
    <select id="isUniversityExist" resultType="Boolean">
        SELECT EXISTS(SELECT * FROM University WHERE id=#{university_id})
    </select>
</mapper>